{%extends 'shop/main.html' %}
{%load static%}
{%block content%}

<div class="row"  style="margin-top: 20px;">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <img class="custom-aboutus" src="{%static 'images/logo.png'%}" alt="logo">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <p><strong>About Us</strong></p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minus nesciunt, aspernatur adipisci eos non commodi. Saepe cupiditate ipsam veritatis voluptates sapiente dolorem nam suscipit repellat, fugiat dicta ullam nesciunt!</p>
        </div>
        <br>
        <div class="box-element" id="form-wrapper">
            <p><strong>Our Products</strong></p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minus nesciunt, aspernatur adipisci eos non commodi. Saepe cupiditate ipsam veritatis voluptates sapiente dolorem nam suscipit repellat, fugiat dicta ullam nesciunt!</p>
        </div>
    </div>

</div>
{%endblock content%}